{% extends 'layout.twig' %}

{% block body %}
  <!--<h1>{{title}}</h1>-->
  <!--<h2>{{subtitle}}</h2>-->

  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-12 py-4">
          <form method="post" action="/">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Url/urls</label>
              <textarea class="form-control" id="url" name="url" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
