.logo {
  background-color: #fff;
}

.tagline h1 {
  margin-left: 20px;
  font-size: 22px;
  margin-bottom: 0px;
}

#navbarHeader a {
  color: #fff;
}

td {
  font-size: 0.8em;
}

.nowrap {
  white-space:nowrap;
}

.red {
  color: red;
}

.igroup {
  width: 150px;
}
